/* styles.css */

/* Estilos para o container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* Faz com que o container ocupe toda a altura da tela */
    position: relative; /* Adiciona posição relativa para o rodapé */
}

/* Estilos para o cabeçalho */
.header {
    background-color: #2980F2;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
    display: flex;
    justify-content: space-between; /* Alinha os elementos na direita e esquerda */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilos para o nome */
.header .header-title {
    margin: 0;
    color: white;
}

/* Estilos para o menu */
.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-menu li {
    display: inline;
}

.header-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-menu li a:hover {
    background-color: #111;
}

/* Estilos para o conteúdo */
.content {
    text-align: center;
}

.content-inner {
    max-width: 800px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
}

.content-left {
    text-align: left;
}

.content-center {
    text-align: center;
}

/* Estilos para o rodapé */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5D6167;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
